<%- include('./common/header.ejs'); %>

<body>
  <div class="margin" style="text-align: center">
    <img src="images/success2.gif" />
    <h2 style="margin-top: 1%">Image successfully uploaded !!!</h2>
    <a href="/slideshow"
      ><button type="button" class="btn btn-info">
        Show Slideshow &nbsp;
        <img src="images/play.png" height="30px" width="30px" />
      </button>
    </a>
  </div>
</body>
